
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">name</th>
                            <th scope="col">airlinename</th>
                            <th scope="col">Country</th>
                            <th scope="col">headquaters</th>
                            <th scope="col">Trips</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of passenger.data">
                            

                            <td>{{i.name}}</td>
                            <td>{{i.airline[0].name}}</td>
                            <td>{{i.airline[0].country}}</td>
                            <td>{{i.airline[0].head_quaters}}</td>
                            <td>{{i.trips}}</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>